# testing 123 testing 123

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import citipy as citipy

In [4]:
!pip install citipy

Collecting citipy
  Downloading citipy-0.0.6.tar.gz (675 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 675.6/675.6 kB 5.2 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting kdtree>=0.12
  Downloading kdtree-0.16-py2.py3-none-any.whl (7.7 kB)
Building wheels for collected packages: citipy
  Building wheel for citipy (setup.py) ... done
  Created wheel for citipy: filename=citipy-0.0.6-py3-none-any.whl size=675970 sha256=725fe100d14cf1244b225afc69f55573b27d32b65d14a2aad51545a433cb4ba2
  Stored in directory: /Users/jerrettwilliams/Library/Caches/pip/wheels/ca/bd/d1/2bee2b54030fe2e29a1a6a7b10e6781aff17bdff423fc401d6
Successfully built citipy
Installing collected packages: kdtree, citipy
Successfully installed citipy-0.0.6 kdtree-0.16

In [2]:
us_df = pd.read_csv('CE-Project-Data/CW_HistoricalEmissions_US.csv')
other_df = pd.read_csv('CE-Project-Data/CW_HistoricalEmissions_ClimateWatch.csv')
land_usage_df = pd.read_csv('CE-Project-Data/Agricultural_Land_Usage.csv')
pd.set_option('display.max_columns', None)

FileNotFoundError: [Errno 2] No such file or directory: 'CE-Project-Data/CW_HistoricalEmissions_US.csv'

In [ ]:
#separate US data by state, sector, and gas type. sum the total gas emissions for each year
#US data frames to use: us_df_state, us_df_sector, us_df_gas, us_df_sum
us_df_state = us_df.groupby(['State']).sum()
us_df_state = us_df_state.style.format('{:.3f}')
us_df_sector = us_df.groupby(['Sector']).sum()
us_df_sector = us_df_sector.style.format('{:.3f}')
us_df_gas = us_df.groupby(['Gas']).sum()
us_df_sum = pd.DataFrame(us_df_gas.sum(axis=0)).T.rename(index={0:'US Total'}).style.format('{:.3f}')
us_df_gas = us_df_gas.style.format('{:.3f}')
us_df_sum

In [ ]:
ghana_df = other_df[other_df['Country']=='GHA']

In [ ]:
#separate Ghana data by sector and gas type. Sum the total gas emissions for each year
#Ghana data frames to use: ghana_df_sector, ghana_df_gas, ghana_df_sum
ghana_df_sector = ghana_df.groupby(['Sector']).sum()
ghana_df_sector = ghana_df_sector.style.format('{:.3f}')
ghana_df_gas = ghana_df.groupby(['Gas']).sum()
ghana_df_sum = pd.DataFrame(ghana_df_gas.sum(axis=0)).T.rename(index={0:'Ghana Total'}).style.format('{:.3f}')
ghana_df_gas = ghana_df_gas.style.format('{:.3f}')
ghana_df_sum

In [ ]:
#clean land usage data by getting rid of unnecessary columns
land_usage_df = land_usage_df.drop(land_usage_df.columns[3:34], axis=1)
land_usage_df = land_usage_df.drop(columns=['Country Code','2020','2021','Unnamed: 66'])
land_usage_df.head(2)

,Country Name,Indicator Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,Agricultural land (% of land area),11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111
1,Africa Eastern and Southern,Agricultural land (% of land area),44.077433,44.175529,44.364624,43.405047,43.602308,43.786737,43.940969,44.096712,44.238249,44.453834,44.613694,44.754313,44.892132,45.218702,44.973395,45.150072,45.347753,45.511698,45.676483,45.943486,46.156943,46.361515,43.388794,43.524271,43.674175,43.772496,43.901452,44.045088,44.168345,44.194846

In [ ]:
#separate out Ghana and USA land usage data
#Land Usage DataFrames to use: land_usage_gha_df, land_usage_usa_df
land_usage_gha_df = land_usage_df[land_usage_df['Country Name']=='Ghana']
land_usage_usa_df = land_usage_df[land_usage_df['Country Name']=='United States']
land_usage_gha_df

,Country Name,Indicator Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
83,Ghana,Agricultural land (% of land area),55.396853,55.902259,55.902259,56.253845,56.693329,57.572295,58.451261,59.892766,58.392634,58.190318,57.548519,57.447297,57.297732,56.783396,56.000976,56.383185,55.886429,55.829155,55.332399,55.714608,56.008922,55.608544,55.735545,55.774651,55.813756,55.852861,55.653336,55.45381,55.406258,55.391316